@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #ffffff;
  --light-grey: #f2f1f0;
  --medium-grey: #868686;
  --dark-grey: #2d2a29;
  --black: #000000;
  --bg-primary: #24aeb1;
  --color-secondary: #eb3a7b;
  --body-col: #7d879c;
  --grey: #f2f3f5;
  --color-accent: #1d2a38;
  --red: #ff0000;
  --orange: #f36504;
  --navyblue: #24aeb1;
  --Green: #84be52;
  --rating: #f6b614;
  --border-color: #e6e6e6;
  --grey-lg: #ddddde;
  --box-shadow-color: #d0c9c9;
}

